@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--primary-color);

  --primary-color: #FAFAFA; 
  --secondary-color: #F5F5F5; 
  --accent-color: #FE5A30; 
  --text-color: #222222; 
  --secondary-text-color: #fff; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
/* For Chrome, Edge, and Safari */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: var(--secondary-color);
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 6px;
}
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

/* Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #a2a2a2 var(--secondary-color);
}
